<body>
    <div class="container">
        <div id="login" class="center">
            <h1>Login</h1>
            <form [formGroup]="LoginForm"
             (ngSubmit)="login()">
             <div *ngIf="hasError"
             >Korisničko ime ili lozinka nisu ispravni.</div>
                <div  class="text-danger">
                <p >
                    <input  type="text" formControlName="Email" class="infoInput" name="Email" id="Email" placeholder="Email:">
                </p>
            </div>

                <p>
                    <input type="Password" formControlName="Password" class="infoInput" name="Password" id="password" placeholder="Password:">

                </p>
                <p id="forgotPass">Forgot password?</p>
            <p>
                <button type="submit" value="LOGIN" class="whiteBtn">LOGIN</button>
            </p>
            </form>

            
            <hr>
            <p id="noAccount">Don't Have An Account?</p>
            <p>
                <button type="button" value="REGISTER" class="whiteBtn" id="regBtn"

                    [routerLink]="['/admin-main']">REGISTER</button>

            </p>
        </div>
    </div>
</body>