.center{
    margin: auto;
    width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#login{
    background:rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}
.container{
    height: 900px;
    position: relative;
    left:0;
}
.infoInput{
    padding: 12px;
    border-radius: 25px;
    background-color: #AFBAA3;
    width: 45%;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    border-width: 0;
}
input:hover {
    background: #D9D9D9;
}
h1{
    padding-top: 15%;
    text-align: center;
    color:white;
    font-family:Outfit, Roboto, sans-serif;
    font-size: 42px;
    letter-spacing: 0.15em;
}
.whiteBtn{
    padding: 12px;
    border-radius: 25px;
    background-color: #D9D9D9;
    width: 30%;
    margin-top: 20px;
    letter-spacing: 0.15em;
    cursor: pointer;
    border-width: 0;
}
#forgotPass{
    text-align: right;
    margin-right: 25%;
    font-family: Roboto, sans-serif;
    font-size: small;
    cursor: pointer;
}

p{
    color: #D9D9D9;
    text-align: center;
}
hr{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#noAccount{
    font-size:large;
}
body{
    background:linear-gradient(0deg, black, #0A3932 50%, black);
}
#regBtn{
    margin-bottom: 30px;
}

@media only screen and (max-width: 650px) {
    .center{
        width: 100%;
    }
}