<div class="register-page">
    <div class="container">
        <h1>Register</h1>
        <div class="form">
            <form [formGroup]="RegisterForm"
            (ngSubmit)="register()">
                <p class="textLabel"><label class="right-margin">First Name</label>
                    <label>Last Name</label>
                </p>
                <p>
                    <input type="text" formControlName="FirstName" class="shortInfoInput" name="firstName" id="firstName"
                        placeholder="First name:">
                    <input type="text" formControlName="LastName" class="shortInfoInput left-margin" name="lastName" id="lastName"
                        placeholder="Last name:">
                </p>
                <p class="textLabel"><label>Email</label></p>
                <p>
                    <input type="email" formControlName="Email" class="infoInput" name="email" id="email" placeholder="Email:">
                </p>
                <p class="textLabel"><label>Phone Number</label></p>
                <p>
                    <input type="tel" formControlName="Phone" class="infoInput" name="phoneNumber" id="phoneNumber" placeholder="Phone number:">
                </p>
                <p class="textLabel"><label>Address</label></p>
                <p>
                    <input type="text" formControlName="Address" class="infoInput" name="address" id="address" placeholder="Address:">
                </p>
                <hr>
                <p class="textLabel"><label>Password</label></p>
                <p>
                    <input type="password" formControlName="Password" class="infoInput" name="password" id="password" placeholder="Password:">
                </p>
                <p class="textLabel"><label>Confirm password</label></p>
                <p>
                    <input type="password" formControlName="ConfirmPassword" class="infoInput" name="confirmPassword" id="confirmPassword"
                        placeholder="Confirm password:">
                </p>
                <p>
                    <button type="submit" value="REGISTER" class="whiteBtn" id="regBtn">REGISTER</button>
                </p>
            </form>
        </div>
    </div>
</div>