
<body>
    <div class="container">
        <h1>RYDE</h1>
        <div class="form">
            <form [formGroup]="RegisterForm"
            (ngSubmit)="register()">
            <div class="label">
                <p class="textLabel"><label class="right-margin">Name</label> </p>
                    <span *ngIf="name && name.invalid && buttonClicked" class="error left">Name is required</span>
               
            </div>
                    <input type="text" [ngClass]="{'red-border-class': name && name.invalid && buttonClicked}" formControlName="name" class="infoInput" name="name" id="name"
                        placeholder="Name">
            <div class="label">
                <p class="textLabel"><label class="right-margin">Surname</label></p>
                    <span *ngIf="surname && surname.invalid && buttonClicked" class="error right">Surname is required</span>
            </div>
                    <input type="text" [ngClass]="{'red-border-class': surname && surname.invalid && buttonClicked}" formControlName="surname" class="infoInput" name="surname" id="surname" placeholder="Surname">
                    <div class="label">
                <p class="textLabel"><label>Email</label></p> 
                <span *ngIf="email && email.errors?.['required'] && buttonClicked" class="error">Email is
                    required</span>
                </div>
                <span *ngIf="email && email.errors?.['email'] && buttonClicked" class="error">Not valid email</span>
                    <input type="email" [ngClass]="{'red-border-class': email && email.invalid && buttonClicked}" formControlName="email" class="infoInput" name="email" id="email" placeholder="Email">
                    <div class="label">
                <p class="textLabel"><label>Phone Number</label></p>

                <span *ngIf="telephoneNumber && telephoneNumber.invalid && buttonClicked" class="error">Telephone number
                    is required</span>
            </div>
                    <input type="tel" [ngClass]="{'red-border-class': telephoneNumber && telephoneNumber.invalid && buttonClicked}" formControlName="telephoneNumber" class="infoInput" name="phoneNumber" id="phoneNumber" placeholder="Phone Number"  required>
                <div class="label">
                <p class="textLabel"><label>Address</label></p>
                <span *ngIf="address && address.invalid && buttonClicked" class="error">Address is required</span>
            </div>
                    <input type="text" [ngClass]="{'red-border-class': address && address.invalid && buttonClicked}" formControlName="address" class="infoInput" name="address" id="address" placeholder="Address">
                    <div class="label">
                <p class="textLabel"><label>Password</label></p>

                <span *ngIf="password && password.errors?.['minlength'] && buttonClicked" class="error">Password must beat least 8 characters long</span>
                <span *ngIf="password && password.errors?.['required'] && buttonClicked" class="error">Password isrequired</span>
            </div>
                    <input type="password" [ngClass]="{'red-border-class': password && password.invalid && buttonClicked}" formControlName="password" class="infoInput" name="password" id="password" placeholder="Password">
                    <div class="label">
                <p class="textLabel"><label>Confirm password</label></p>
                <span *ngIf="confirmPassword && confirmPassword.valid || !buttonClicked" class="noError">Invalid input(blank)</span>
                  
                    <span *ngIf="confirmPassword && RegisterForm.errors?.['passwordMismatchError'] && buttonClicked" class="error">Passwords must be same</span>
            
            </div>
                    <input type="password" [ngClass]="{'red-border-class': confirmPassword && RegisterForm.errors?.['passwordMismatchError'] && buttonClicked}" formControlName="ConfirmPassword" class="infoInput" name="confirmPassword" id="confirmPassword"
                        placeholder="Confirm Password">
                    <button type="submit" value="REGISTER" class="whiteBtn" id="regBtn">REGISTER</button>
            </form>
        </div>
        <!-- </div> -->
    </div>
</body>

