<!-- <div class="register-page"> -->
    <div class="container">
        <h1>Register</h1>
        <div class="form">
            <form [formGroup]="RegisterForm"
            (ngSubmit)="register()">
                <p class="textLabel"><label class="right-margin">First Name</label>
                    <label>Last Name</label>
                </p>
                <p>
                    <input type="text" formControlName="name" class="shortInfoInput" name="name" id="name"
                        placeholder="">
                    <input type="text" formControlName="surname" class="shortInfoInput left-margin" name="surname" id="surname"
                        placeholder="">
                </p>
                <p class="textLabel"><label>Email</label></p>
                <p>
                    <input type="email" formControlName="email" class="infoInput" name="email" id="email" placeholder="">
                </p>
                <p class="textLabel"><label>Phone Number</label></p>
                <p>
                    <input type="tel" formControlName="telephoneNumber" class="infoInput" name="phoneNumber" id="phoneNumber" placeholder=""  required>
                </p>
                <p class="textLabel"><label>Address</label></p>
                <p>
                    <input type="text" formControlName="address" class="infoInput" name="address" id="address" placeholder="">
                </p>
                <hr>
                <p class="textLabel"><label>Password</label></p>
                <p>
                    <input type="password" formControlName="password" class="infoInput" name="password" id="password" placeholder="">
                </p>
                <p class="textLabel"><label>Confirm password</label></p>
                <p>
                    <input type="password" formControlName="ConfirmPassword" class="infoInput" name="confirmPassword" id="confirmPassword"
                        placeholder="">
                </p>
                <p>
                    <button type="submit" value="REGISTER" class="whiteBtn" id="regBtn">REGISTER</button>
                </p>
            </form>
        </div>
        <!-- </div> -->
    </div>