body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    position: relative;

    background: linear-gradient(180deg, #161619 0%, rgba(10, 57, 50, 0.83) 52.08%, #161619 100%);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    box-sizing: border-box;
    margin-top: 3%;
    /* margin: auto; */
    position: absolute;
    width: 35%;
    height: 82%;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

h1 {
    padding-top: 4%;
    padding-bottom: 4%;

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.15em;

    color: #FFFFFF;

}

input {
    padding: 12px;
    /* padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px; */
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    /* identical to box height */
    letter-spacing: 0.05em;

    color: #053132;

    opacity: 0.5; 
}

p{
    color: #D9D9D9;
    text-align: center;
    margin: auto;
}

hr{
    width: 35%;
    margin-top: 5%;
    margin-bottom: 0;
}

label {
    text-align: left;
}
.form{
    margin-left: 20%;
    margin-right: 20%;
}
.textLabel{
    text-align: left;
    margin-left: 10%;
    margin-top: 8px;
    margin-bottom: 8px;
}
/* form {
    height: 80%;
} */

.shortInfoInput {
    position: relative;
    width: 35%;
    height: 5%;
    /* margin-left: 1%; */
    background: #AFBAA3;
    border-radius: 25px;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
}

.right-margin{
    margin-right: 27%;
}

.left-margin{
    margin-left: 2%;
}

.infoInput {
    position: relative;
    width: 80%;
    height: 5%;

    background: #AFBAA3;
    border-radius: 25px;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
}

input:hover {
    background: #D9D9D9;
}

.whiteBtn {
    padding: 12px;
    border-radius: 25px;
    background-color: #D9D9D9;
    width: 40%;
    margin-top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;


    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000000;
}