<div class="container">
    <div class="driverContainer">

        <button type="submit" value="REGISTER" class="whiteBtn"  [routerLink]="['/createDriver']" id="regBtn">Create driver</button>
        <div class=leftContainer >
        <div  *ngFor="let driver of drivers1">
            <div class="driverInfo">
                <img id="image" [src]="driver.profilePicture">
                <span [ngClass]="driver.active ? 'greenDot' : 'redDot'" class="dot"></span>
                <p> {{driver.name}}</p>
                <div class="buttons">
                    <button class="detailBtn" [routerLink]="['/driver-ride-history/' + driver.id]">Details</button>
                    <button class="blockBtn"   (click)="blockDriver(driver.id!)" *ngIf="!driver.blocked">Block</button>
                    <button class="blockBtn"   (click)="unblockDriver(driver.id!)" *ngIf="driver.blocked">Unblock</button>
                </div>
            </div>
        </div>
    </div>




    </div>

    <div class="map">
        <app-map></app-map>
    </div>
</div>