<div class="container">
    <div class="left-container">
        <h1>Get a Ryde</h1>
        <div class="form-container">
            <form [formGroup]="CreateRideForm" fxLayout="colums" (ngSubmit)="createRide()">
                <mat-form-field appearance="fill">
                    <mat-label>Departure</mat-label>
                    <!-- [formControl]="departure" -->
                    <input matInput type="text" [formControl]="selectedFromAddress" formControlName="departure"
                        id="departureInput">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Destination</mat-label>
                    <input matInput type="text" [formControl]="selectedToAddress" formControlName="destination"
                        id="destinationInput">
                </mat-form-field>
                <div class="split">
                    <mat-form-field class="date-picker" appearance="fill" color="accent">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <!-- <input [ngxMatTimepicker]="timePicker" [format]="24">  
                <ngx-mat-timepicker #picker></ngx-mat-timepicker>   -->

                    <mat-form-field class="time-picker">
                        <input matInput name="selected_time" [format]="24" formControlName="selectedTime"
                            [ngxMatTimepicker]="pickerB" [max]="maxTime" [min]="minTime" placeholder="Now" readonly />
                        <mat-icon matSuffix (click)="pickerB.open()">
                            schedule
                        </mat-icon>
                    </mat-form-field>
                    <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>

                </div>

                <h2>Type of Car</h2>

                <div class="radio-button">
                    <input id="standard" type="radio" name="vehicleType" value="standard" formControlName="vehicleType"
                        required />
                    <label class="vehicletype-cc standard" for="standard"></label>
                    <input id="luxry" type="radio" name="vehicleType" value="luxry" formControlName="vehicleType"
                        required />
                    <label class="vehicletype-cc luxry" for="luxry"></label>
                    <input id="van" type="radio" name="vehicleType" value="van" formControlName="vehicleType"
                        required />
                    <label class="vehicletype-cc van" for="van"></label>
                </div>
                <div class="car-labels">
                    <label class="text">Standard</label>
                    <label class="text">Luxury</label>
                    <label class="text">Van</label>
                </div>
                <section class="section">
                    <h2>Traveling with</h2>
                    <mat-checkbox class="checkbox" formControlName="petTransport" src="assets/images/pet.png">
                        <!-- <img src="assets/images/pet.png"> -->
                        <p>Pets</p>
                    </mat-checkbox>
                    <mat-checkbox class="checkbox" formControlName="babyTransport">
                        <!-- <img src="assets/images/baby.png"> -->
                        <p>Babies</p>
                    </mat-checkbox>
                </section>

                <!-- <mat-radio-group formControlName="vehcileType">
                    <mat-label>
                      <mat-radio-button class="radio" value="STANDARD">
                        <img width="50" src={{imageStandard}}>
                      </mat-radio-button>
                      </mat-label>
                      <mat-label>
                        <mat-radio-button class="radio" value="LUXRY">
                          <img width="50" src={{imageLuxry}}>
                        </mat-radio-button>
                      </mat-label>
                      <mat-label>
                        <mat-radio-button class="radio" value="VAN">
                          <img width="50" src={{imageVan}}>
                        </mat-radio-button>
                      </mat-label>
                  </mat-radio-group> -->
                <h2>Share ride with</h2>
                <div>
                    <div id="friends">
                        <!-- <span> -->
                            <button class="add" type="button" (click)="openPopup()"></button>
                        <!-- </span> -->
                    </div>

                    <!-- <button class="add" type="button" (click)="openPopup()"></button> -->
                    <div>
                        <label class="popup" id="popup">
                            <input [formControl]="friendEmail" type="email" id="addPassenger" placeholder="Enter friend's email...">
                            <button id="addFriend" (click)="addFriend()">Add</button>
                        </label>
                    </div>
                </div>

                <div class="vertical-center" fxLayout="row" fxLayoutAlign="space-between end">
                    <button class="submit" type="submit" id="getRideBtn" mat-raised-button>Look For Driver</button>
                </div>
            </form>
        </div>
    </div>

    <div class="map">
        <app-map></app-map>
    </div>
</div>