.container {
    display: flex;
    width: 100%;
    height: 100%;
}


h1 {
    color: #D9D9D9;
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 6vh;
}

.form-container {
    flex: 1;
    height: fit-content;
    padding: 1.3vh;
    /* background: #161619aa; */
    /* mix-blend-mode: normal; */
    /* border-radius: 5px; */

    /* margin-right: 5vh; */
    width: 90%;
    height: 20%;
    margin: auto;
    text-align: center;

}

.left-container {
    margin-left: 2vw;
    margin-top: 5vh;
    height: 87vh;
    width: 30%;
    float: left;
    background: linear-gradient(174.79deg, #101111 88.31%, rgba(1, 172, 171, 0.2) 116.35%);
    border-image: 
    linear-gradient(
      to top, 
      #01acac 40%, 
      rgba(0, 0, 0, 0)
    ) 1;
    border-width: 0px 4px 4px 4px;
    border-style: solid;
    border-color: #01acac52;
    box-shadow: 5px 4px 40px 24px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

mat-form-field {
    display: flex;
    margin: 0 2vh;
    border-radius: 20px !important;
    font-size: 1.8vh;
}

host ::ng-deep .mat-radio-container {
    display: none;
}

.radio+img {
    cursor: pointer;
}

.mat-radio-checked+img {
    outline: 2px solid #f00;
}

.map {
    margin: 0;
    margin-top: 6.5vh;
    margin-left: 2vw;
    flex: 1;
    height: 80%;
    width: 80%;
    float: right;

    border-radius: 5px;
}

button {
    position: relative;
    margin: 2vh 0;
    width: 60%;
    padding: 2.5vh;
    border-radius: 2vh;
    background-color: #01ACAB !important;
    border-width: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 17px;


    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #D9D9D9!important;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.radio-button {
    text-align: center;
    margin: 0;
}

.radio-button input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}

.standard {
    background-image: url("src/assets/images/standard-aqua.png");
    width: 100px;
    height: 60px;
}

.luxry {
    background-image: url("src/assets/images/luxury-aqua.png");
    width: 100px;
    height: 65px;
}

.van {
    background-image: url("src/assets/images/van-aqua.svg");
    width: 100px;
    height: 55px;
}

.radio-button input:active+.vehicletype-cc {
    opacity: .9;
}

.radio-button input:checked+.vehicletype-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.vehicletype-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-inline-start: 1.5vw;
    /* width: 100px;
    height: 70px; */
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.vehicletype-cc:hover {
    transform: scale(1.1);
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.text {
    color: #D9D9D9;
    margin-right: 3.2vw;
    font-size: 20px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.text:last-child,
.text:first-child {
    margin-left: 1vw;
}

h2 {
    color: #D9D9D9;
}


.date-picker {
    display: inline-flex;
    width: 48%;
    margin: 0;
    margin-inline-end: 1vw;
}

.time-picker {
    display: inline-flex;
    width: 48%;
    margin: 0;
}

.split {
    display: flex;
    margin: 0 2vh;

}

.section {
    color: #D9D9D9;
    margin-bottom: 2vh;
}

img {
    height: 25px;
}

body {
    color: #D9D9D9 !important;
}

.checkbox {
    color: #D9D9D9;
    margin-left: 2vw;
    margin-right: 2vw;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 17px;
}

p {
    color: #D9D9D9;
    font-size: 20px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}