
<div id="modal-content-wrapper">
    <div id="modal-header">
        <h1 id="modal-title">Changing password:</h1>
    </div>
    <div id="modal-body">
        <form [formGroup]="EditForm">
        <p class="textLabel"><label class="right-margin">Old Password</label></p>
            <input type="password" formControlName="oldPassword" class="infoInput" name="surname" id="surname" placeholder="Old password">
        <p class="textLabel"><label>New Password</label></p>
            <input type="password" formControlName="newPassword" class="infoInput" name="email" id="email" placeholder="New password">
        </form>
    </div>
    <div id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="changePassword()">Submit</button>
        <button mat-raised-button id="modal-cancel-button" (click)="cancel()">Cancel</button>
    </div>
</div>