.row{

    text-align: center;
    width: 32%;
    color: white;
    
}
.inline{
    display: inline-block;
}
.calendar{
    text-align: center;
    margin-top: 100px;
}
.numbers{
    width: 100%;
    text-align: center;
    color: white;
    vertical-align:top;
    
}