<div class="container">
    <div class="left-container">
        <div class="form-container">
            <div class="ping left-container">
                <span class="bigElipse"></span>
                <span class="smallElipse"></span>
                <span class="smallElipse"></span>
                <img class="pin" src="assets/images/pin.png" alt="pin">
            </div>
            <div class="form">
                <form [formGroup]="CalculateForm" fxLayout="colums" (ngSubmit)="calculate()">
                    <mat-form-field appearance="fill">
                        <mat-label>From</mat-label>
                        <input matInput type="text" [(ngModel)]="selectedFromAddress" formControlName="from" id="fromInput">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>To</mat-label>
                        <input matInput type="text" [(ngModel)]="selectedToAddress" formControlName="to" id="toInput">
                    </mat-form-field>
                    <div class="vertical-center" fxLayout="row" fxLayoutAlign="space-between end">
                        <button type="submit" id="calculateBtn" mat-raised-button>Calculate</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="details-container">
            <h2>Details</h2>
            <div class="details">
                <ul>
                    <li>Duration</li>
                    <li>Price</li>
                    <li>Distance</li>
                </ul>
                <div class="right-details">
                    <p id="duration">15:00</p>
                    <p id="price">300 RSD</p>
                    <p id="distance">2.5 km</p>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <app-map></app-map>
    </div>
</div>