<div class="container">
    <div class="left-container">
        <div class="form">
            <form [formGroup]="createCalculateForm" fxLayout="colums">
                <mat-form-field appearance="fill">
                    <mat-label>From</mat-label>
                    <input matInput type="text" name="from" formControlName="from">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>To</mat-label>
                    <input matInput type="text" name="to" formControlName="to">
                </mat-form-field>
                <div class="vertical-center" fxLayout="row" fxLayoutAlign="space-between end">
                    <button type="submit" mat-raised-button>Calculate</button>
                </div>
            </form>
        </div>

        <div class="details-container">
            <h2>Details</h2>
            <div class="details">
                <ul>
                    <li>Duration</li>
                    <li>Price</li>
                    <li>Distance</li>
                </ul>
                <div class="right-details">
                    <p id="duration">15:00 minutes</p>
                    <p id="price">300 RSD</p>
                    <p id="distance">2.5 km</p>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <img src="assets/images/map.png">
    </div>
</div>