<div class="container">
    <div class="left-container">
        <h1>Get a Ryde Estimate</h1>
        <div class="form-container">
            <!-- <div class="ping left-container">
                <span class="bigElipse"></span>
                <span class="smallElipse"></span>
                <span class="smallElipse"></span>
                <img class="pin" src="assets/images/pin.png" alt="pin">
            </div> -->
            <div class="form">
                <form [formGroup]="CalculateForm" fxLayout="colums" (ngSubmit)="calculate()">
                    <mat-form-field appearance="fill">
                        <mat-label>Departure</mat-label>
                        <input matInput type="text" [(ngModel)]="selectedFromAddress" formControlName="from" id="fromInput">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Destination</mat-label>
                        <input matInput type="text" [(ngModel)]="selectedToAddress" formControlName="to" id="toInput">
                    </mat-form-field>
                    <div class="vertical-center" fxLayout="row" fxLayoutAlign="space-between end">
                        <button type="submit" id="calculateBtn" mat-raised-button>Calculate</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="data" class="details-container">
            <div class="details">
                <div class="circle top">
                    <span class="big-text">{{price}}</span>
                    <span class="small-text">RSD</span>
                </div>
            </div>
            <div class="details">
                <div class="circle left-details">
                    <span class="big-text">{{duration}}</span>
                    <span class="small-text">Minutes</span>
                </div>
                <div class="circle right-details">
                    <span class="big-text">{{distance}}</span>
                    <span class="small-text">Kilometers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <app-map></app-map>
    </div>
</div>