
#modal-content-wrapper {
    background: linear-gradient(174.79deg, #101111 88.31%, rgba(1, 172, 171, 1) 116.35%);
    border-image:
        linear-gradient(to top,
            #01acac 40%,
            rgba(0, 0, 0, 0)) 1;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #01acac52;
    box-shadow: 5px 4px 40px 24px rgba(0, 0, 0, 0.4);
    display: flex;
    height: 298px;
    flex-direction: column;
    justify-content: space-between;
}

.mat-mdc-dialog-container {
    width: 448px;
    height: 298px;
}

#modal-title {
    font-size: 22px;
    height: 25px;
    position: relative;
    top: 20px;
    left: 10%;
    width: 80%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: capitalize;

    color: #D9D9D9;
}

#modal-body {
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.10em;
    color: #D9D9D9;
}

mat-form-field {
    width: 80%;
}

button {
    margin-bottom: 5%;
    float: right;
}


#modal-action-button {
    margin-right: 30px;
    background-color:#01acac;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.infoInput{
    padding: 7px;
    width: 70%;
    display: flex;
    margin: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    border-width: 0;
    background: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
}

p {
    color: #D9D9D9;
    text-align: center;
    margin: auto;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

a {
    text-decoration: none;
}
.textLabel {
    text-align: left;
    margin-left: 14%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    padding: 10px 0px;
    letter-spacing: 0.15em;
}

input:hover {
    background: #D9D9D9;
}