
<div id="modal-content-wrapper">
    <div id="modal-header">
        <h1 id="modal-title">Changing password:</h1>
    </div>
    <div id="modal-body">
        <form [formGroup]="EditForm">
        <p class="textLabel" *ngIf="!emailSent"><label class="right-margin">Email</label></p>
            <input *ngIf="!emailSent" type="email" formControlName="email" class="infoInput" name="surname" id="surname" placeholder="Email">
        <p class="textLabel" *ngIf="emailSent"><label>New Password</label></p>
            <input *ngIf="emailSent" type="password" formControlName="newPassword" class="infoInput" name="email" id="email" placeholder="New Password">
        <p class="textLabel" *ngIf="emailSent"><label class="right-margin">Reset Code</label></p>
            <input *ngIf="emailSent" type="text" formControlName="resetCode" class="infoInput" name="surname" id="surname" placeholder="Reset Code">
        </form>
    </div>
    <div id="modal-footer">
        <button *ngIf="!emailSent" mat-raised-button id="modal-action-button" (click)="changePassword()">Send Reset Code</button>
        <button *ngIf="emailSent" mat-raised-button id="modal-action-button" (click)="resetPassword()">Change Password</button>
    </div>
</div>