<body>
    <div class="container">
        <div class="createDriver">
            <form [formGroup]="CreateDriverForm"
            (ngSubmit)="create()">
                <div class="driverInfoContainer form">
                    <h1>Driver info</h1>


                    <p class="textLabel noMargin"><label class="right-margin">First Name</label> <label id="lastNameLabel">Last Name</label>
                        
                    </p>
                    <p>
                        <input type="text" formControlName="name" class="shortInfoInput" name="firstName" id="firstName"
                            placeholder="First name:">
                        <input type="text" formControlName="surname" class="shortInfoInput left-margin" name="lastName" id="lastName"
                            placeholder="Last name:">
                    </p>

                    <p class="textLabel noMargin"><label>Email</label></p>
                    <p>
                        <input type="email" formControlName="email" class="infoInput" name="email" id="email" placeholder="Email:">
                    </p>
                    <p class="textLabel noMargin"><label>Phone</label></p>
                    <p>
                        <input type="tel" formControlName="telephoneNumber" class="infoInput" name="phoneNumber" id="phoneNumber"
                            placeholder="Phone number:">
                    </p>
                    <p class="textLabel noMargin"><label>Address</label></p>
                    <p>
                        <input type="text" formControlName="address"class="infoInput" name="address" id="address" placeholder="Address:">
                    </p>
                    <hr>

                   
                    
                    <p class="textLabel noMargin"><label>Password</label></p>
                    <p>
                        <input type="password" formControlName="password" class="infoInput" name="password" id="password" placeholder="Password:">
                    </p>
                    <p class="textLabel noMargin"><label>Confirm Password</label></p>
                    <p>
                        <input type="password" formControlName="ConfirmPassword" class="infoInput" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm password:">
                    </p>
                    <p class="textLabel noMargin"><label>Insert picture</label></p>
                    <p>
                        <input type="file" class="infoInput" name="inputImage" id="inputImage" (change)="inputImage($event)">
                    </p>

                </div>





                <div class="vehicleInfoContainer form">
                    <h1>Vehicle info</h1>

                    <p class="textLabel noMargin"><label>Model</label></p>
                    <p>
                        <input type="text"  formControlName="model" class="infoInput" name="Model" id="Model" placeholder="Model:">
                    </p>

                    <p class="textLabel noMargin"><label>Licence Plate</label></p>
                    <p>
                        <input type="text" formControlName="licenceNumber" class="infoInput" name="licencePlate" id="licencePlate"
                            placeholder="Licence plate:">
                    </p>
                    <div class="seatNumbers">
                        <p class="textLabel" id="seatLabel"><label>Number of seats: </label></p>
                        <input type="number" formControlName="passengerSeats" class="infoInput" id="numberOfSeats" name="numberOfSeats" placeholder="0"
                            min="1" max="4">
                    </div>
                    <hr id="hrNumSeats">
                    <h3>Type Of Car</h3>
                    <div>
                        <div class="inline">
                            <input type="radio" formControlName="vehicleType" class="radioBtn" id="standard" name="vehicleType" value="STANDARDNO" checked="checked">
                            <label class="checkBoxLabel">Standard </label>
                        </div>
                        <div class="inline">

                            <input type="radio" formControlName="vehicleType" class="radioBtn" id="lux" name="vehicleType" value="LUXURY">
                            <label class="checkBoxLabel">Lux </label>

                        </div>
                        
                        <div class="inline">
                            <input type="radio" formControlName="vehicleType" class="radioBtn" id="van" name="vehicleType" value="VAN">
                            <label class="checkBoxLabel">Van </label>

                        </div>
                    </div>
                    <hr id="hrCheckBox">
                    <div>
                        <div class="inline5">
                            <input type="checkbox"formControlName="babyTransport" class="checkBox" id="babyFriendly" name="babyTransport"
                                value="standard">
                            <label class="checkBoxLabel">Baby friendly </label>

                        </div>
                        <div class="inline4">
                            <input type="checkbox" formControlName="petTransport" class="checkBox" id="petFriendly" name="petTransport" >
                            <label class="checkBoxLabel">Pet friendly </label>

                        </div>
                    </div>


                </div>
                <p>
                    <button type="submit" value="CREATE" class="whiteBtn" id="regBtn">CREATE</button>
                </p>
            </form>
        </div>
    </div>
</body>